<div class='row'>
  <div class='col-sm-6'>
  <h2 class='title-category'><%= item.name %></h2>
  </div>
  <div class='col-sm-6 text-right link-more'>
    <%= link_to  '+ Ver Mais', posts_path(q: {post_categories_category_slug_eq: item.slug }) %>
  </div>
</div>