<div class='post'>
  <a href='<%= post_url(post) %>'>
    <div class='row'>
      <div class='col-lg-7'>
          <%= content_tag(:span, post.name, class: 'font-default font-weight-medium') %>
          <%= content_tag(:summary, post.summary, class: 'font-default font-weight-regular') if post.summary.present? %>
      </div>
      <div class='col-lg-5'>
          <%= content_tag(:div, image_tag(url_for(post.cover.variant(combine_options: { resize: '555x289^', extent: '555x289', gravity: 'Center' })), class: 'img-fluid')) %>
      </div>
    </div>
  </a>
</div>