<h1>Banner: <%= @banner.name %></h1>
<p>De <%= @banner.date_start.to_formatted_s(:long) %> a <%= @banner.date_end.to_formatted_s(:long) %></p>
<%= image_tag(url_for(@banner.banner), class: 'img-fluid') %>