<ul>
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.name, posts_path(q: {post_categories_category_slug_eq: category.slug }) %>
    </li>
  <% end %>
  <li>
    <%= link_to 'Contato', '#'%>
  </li>
</ul>