@import "bootstrap/scss/bootstrap.scss";
$color_red: #c81414;
$color_red_2: #961919;
$color_white: #fff;
$color_black: #1d1d1d;
$font-default: 'Montserrat', sans-serif;
$color_gray: #888888;
.bg-color-red {
  background: $color_red;
}
.bg-color-red-2 {
  background: $color_red_2;
}
.font-default {
  font-family: $font-default;
}
.font-weight-regular {
  font-weight: 400;
}
.font-weight-medium {
  font-weight: 500;
}
.font-weight-semi-bold {
  font-weight: 600;
}
.font-weight-bold {
  font-weight: 700;
}
.posts-list {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    margin-bottom: 60px;
    padding-bottom: 60px;
  }
}
.menu {
  margin-bottom: 30px;
  .strip {
    height: 50px;
    background: $color_red;
    color: $color_white;
    .network {
      a {
        color: $color_white;
        padding: 5px;
        text-decoration: none;
        &:hover {
          color: $color_black;
        }
      }
    }
  }
  .logo {
    padding: 30px;
    img {
      max-width: 80px;
    }
  }
  .categories {
    nav {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        float: left;
        transition: height 1s;
        li {
          display: inline-block;
          flex: 1;
          a {
            font-size: 1em;
            text-transform: uppercase;
            padding: 10px;
            color: $color_black;
            text-decoration: none;
            &:hover {
              border-bottom: 3px solid $color_red;
              padding-bottom: 7px;
            }
          }
        }
      }
    }
  }
}
.time_current {
  font-family: $font-default;
  font-weight: 600;
  font-size: 1em;
}
h1,h2,h3,h4,h5 {
  font-family: $font-default;
}
.web-tv, .entertainment {
  padding: 30px 0;
  margin: 30px 0;
  time {
    display: block !important;
    color: $color_white;
  }
  .home-category {
    .link-more {
      color: $color_white;
      &:hover {
        color: $color_black;
      }
    }
    .title-category {
      border-left: 8px solid $color-black;
      color: $color-white;
    }
    a {
      color: $color_white !important;
      &:hover {
        h3 {
          color: $color_black !important;
        }
      }
    }
    summary {
      color: darken($color_white, 10%);
    }
  }
}
.home {
  time {
    display: none;
    font-size: 0.7em;
    margin: 0 0 10px 0;
  }
}
.home-general {
  .post {
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
    &:last-child {
      &:after {
        display: none;
      }
    }
    &:after {
      content: '';
      height: 2px;
      background: lighten($color_gray, 30%);
      width: 300px;
      margin-left: -150px;
      position: absolute;
      left: 50%;
      bottom: 0;
    }
    a {
      h3 {
        font-size: 1em;
      }
      text-decoration: none;
      &:hover {
        h3 {
          color: $color_red;
        }
      }
    }
    img {
      margin-bottom: 20px;
    }
    a {
      color: $color-black;
    }
  }
}
.header-category {
  position: relative;
}
.title-category {
  margin-bottom: 30px;
  display: block;
  border-left: 8px solid $color_red;
  padding-left: 10px;
  text-transform: uppercase;
}
.home-category {
  position: relative;
}
.link-more {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8em;
  color: $color_gray;
  text-decoration-line: none;
  &:hover {
    color: $color_black;
  }
}
.home-category {
  margin: 30px 0;
  .right {
    .post {
      margin-bottom: 15px;
    }
  }
  h3 {
      margin: 0;
  }
  .post {
    a {
      color: $color_black;
      &:hover {
        text-decoration: none;
        h3 {
          color: $color_red;
        }
      }
    }
  }
}
.title-size {
  font-size: 1.3em;
  line-height: 1.4em;
}
.horizontal-posts {
  .post {
    summary {
      color: lighten($color_gray, 10%);
    }
    a {
      text-decoration: none;
      &:hover {
        h3 {
          color: $color_red_2;
        }
      }
    }
    span {
      margin: 15px 0 5px;
      font-size: 0.8em;
      display: block;
      color: $color_red;
      text-transform: uppercase;
    }
    h3 {
      color: $color_black;
      margin-bottom: 15px;
    }
  }
}
@include media-breakpoint-up(lg) {
  .home-general {
    .header-category .title-category {
      font-size: 1.6em !important;
    }
    .first-post {
      a {
        h3 {
          font-size: 1.2em !important;
        }
      }
    }
  }
  .summary-size {
    font-size: 1.1em;
    line-height: 1.4em;
  }
  .title-category {
    font-size: 1.8em;
  }
  .inner-m-10 {
    margin-right: -10px !important;
    margin-left: -10px !important;
  }
  .features {
    a {
      display: block;
      line-height: 1.5em;
    }
    .col-lg-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
    .post_1 {
      height: 233px;
      margin-left: -5px;
      margin-right: -5px;
      overflow: hidden;
      margin-bottom: 15px;
      img {
        position: relative;
        top: -115px;
        width: 100%;
      }
    }
    .post {
      position: relative;
      .description {
        span {
          font-size: 0.8em;
          margin-bottom: 5px;
          display: block;
          border-left: 5px solid $color_red;
          padding-left: 5px;
        }
        z-index: 1;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 40px 20px 0px 20px;
        color: $color_white;
        background: rgb(2,0,36);
        font-size: 1.2em;
        background: linear-gradient(0deg, rgba(2,0,36,0.9) 0%, rgba(0,0,0,0.8) 35%, rgba(0,0,0,0) 100%);
      }
    }
  }
  .home-category {
    .home-general {
      .header-category {
        .title-category {
          font-size: 1.6em !important;
        }
      }
    }
    summary {
      color: lighten($color_gray, 10%);
    }
    a {
      display: block;
      h3 {
        padding: 10px 0;
        display: block;
      }
    }
    .right {
      .post {
        position: relative;
        padding-bottom: 30px;
        margin-bottom: 30px;
        &:first-child {
          &:after {
            content: '';
            height: 2px;
            background: lighten($color_gray, 30%);
            width: 300px;
            margin-left: -150px;
            position: absolute;
            left: 50%;
            bottom: 0;
          }
        }
      }
    }
  }
}
@include media-breakpoint-down(lg) {
  .img-fluid {
    width: 100%;
  }
  .features {
    margin-left: -15px;
    margin-right: -15px;
  }
  .title-size {
    font-size: 1.1em !important;
    margin-bottom: 10px !important;
  }
  .summary-size {
    font-size: 1em !important;
    line-height: 1.4em;
  }
  .home-category {
    .post {
      img {
        margin-bottom: 15px;
      }
      margin-bottom: 40px !important;
    }
  }
  .title-category {
    font-size: 1.3em;
  }
  .menu {
    margin-bottom: 30px;
    .strip {
      font-size: 0.8em;
    }
  }
  .features {
    .img-fluid {
      width: 100% !important;
    }
    a {
      display: block;
    }
    .post {
      margin-bottom: 5px;
      position: relative;
      .description {
        span {
          font-size: 0.8em;
          margin-bottom: 5px;
          display: block;
          border-left: 5px solid $color_red;
          padding-left: 5px;
        }
        z-index: 1;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 40px 20px 0px 20px;
        color: $color_white;
        background: rgb(2,0,36);
        font-size: 1.2em;
        background: linear-gradient(0deg, rgba(2,0,36,0.9) 0%, rgba(0,0,0,0.8) 35%, rgba(0,0,0,0) 100%);
      }
    }
  }
}